@import '../../../../../dist/scss/variaveis.scss';

section {
  width: 100%;
  min-height: 250px;

  background-color: $secondary-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-top: 20px;

  &.loading {
    background-image: url('../../../../assets/images/ilustration-login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}

ul {
  padding: 24px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary-text-color;

    margin-bottom: 10px;
    input {
      &[type='checkbox'] {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      &[type='text'] {
        width: 80%;

        border: none;
        padding: 5px 10px;
        font-size: 16px;
        &.checked {
          text-decoration: line-through;
        }
      }
    }
    button {
      border: none;
      background-color: transparent;
      color: $danger-color;
      font-size: 20px;
      cursor: pointer;

      img {
        display: inline-block;
        width: 10px;
      }
    }
    .checked {
      text-decoration: line-through;
    }
  }
}
